<div *ngIf="isLoading" class="flex justify-center items-center h-full">
    <mat-spinner></mat-spinner>
  </div>
  
  <table *ngIf="!isLoading" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-900 uppercase dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">Ref Number</th>
              <th scope="col" class="px-6 py-3">Item Name</th>
              <th scope="col" class="px-6 py-3">Price</th>
              <th scope="col" class="px-6 py-3">Start Date</th>
              <th scope="col" class="px-6 py-3">Status</th>
              <th scope="col" class="px-10  py-3">Rate</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let request of rentals">
              <td class="px-6 py-4">{{ request.id }}</td>
              <td class="px-6 py-4">{{ request.item.name }}</td>
              <td class="px-6 py-4">{{ request.rental_price }}</td>
              <td class="px-6 py-4">{{ request.start_date }}</td>
              <td class="px-6 py-4">{{ request.status }}</td>
              <td class="px-2 py-4">
                  <button 
                      class="btn btn-primary px-6 py-2" 
                      [disabled]="request.status === 'requested'" 
                      [ngClass]="{'opacity-50 cursor-not-allowed': request.status === 'requested'}"
                      (click)="openReviewDialog(request.item.id)">
                      Make Review
                  </button>
              </td>
          </tr>
      </tbody>
  </table>
  