<section id="content">
    <main class="disable-scrolling">
        <div class="head-title">
            <div class="left">
                <h1>Dashboard</h1>

            </div>
        </div>

        <ul class="box-info">
            <li (click)="selectTab('requests')">
                <i class="bx fa-solid fa-retweet"></i>
                <span class="text"><p>Requests</p></span>
            </li>
            <li (click)="selectTab('rented')">
                <i class="bx fa-solid fa-hand-holding-hand"></i>
                <span class="text"><p>Rented Items</p></span>
            </li>
            <li (click)="selectTab('your-items')">
                <i class="bx fa-solid fa-wallet"></i>
                <span class="text"><p>Your Items</p></span>
            </li>
        </ul>

        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>{{ selectedTab === 'requests' ? 'Requests' : selectedTab
                        === 'rented' ? 'Rented Items' : 'Your Items' }}</h3>
                    <ng-container [ngSwitch]="selectedTab">
                        <app-your-items
                            *ngSwitchCase="'your-items'"></app-your-items>
                        <app-requests *ngSwitchCase="'requests'"></app-requests>
                        <app-rented-items
                            *ngSwitchCase="'rented'"></app-rented-items>
                    </ng-container>
                </div>
            </div>
        </div>
        <!-- <div class="map-wrap mt-4"> -->
        <!-- <div class="map" #map></div> -->
        <!-- </div> -->
    </main>

</section>
