

<section id="content">
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Dashboard</h1>

                <ul class="breadcrumb">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li><i class="fa-solid fa-chevron-right"></i></li>
                    <li>
                        <a class="active" href="#">Home</a>
                    </li>
                </ul>
            </div>
        </div>

        <ul class="box-info">
            <li>
                <i class="bx fa-solid fa-retweet"></i>
                <i class></i>
                <span class="text">
                    <h3>80</h3>
                    <p>Requests</p>
                </span>
            </li>
            <li>
                <i class="bx fa-solid fa-hand-holding-hand"></i>
                <span class="text">
                    <h3>30</h3>
                    <p>Item Rented</p>
                </span>
            </li>
            <li>
                <i class="bx fa-solid fa-wallet"></i>
                <span class="text">
                    <h3>580 $</h3>
                    <p>Your Wallet</p>
                </span>
            </li>
        </ul>

        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>Recent Orders</h3>
                    <i class="bx bx-search"></i>
                    <i class="bx bx-filter"></i>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Request No.</th>
                            <th>Item</th>
                            <th>price</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of requests; track $index) {
                        <tr>
                            <td class="status">
                                <span class="ref">#123</span></td>
                            <td>
                                <p class="table-paragrah">John Doe</p>
                            </td>
                            <td><p class="table-paragrah"> 18 $</p></td>
                            <td><p class="table-paragrah"> 01-10-2021</p></td>
                            <td><p class="table-paragrah"> 01-10-2021</p></td>
                            <td class="status">
                                <span class="ref">Requested</span></td>
                            <td>
                                <hr
                                    class="h-px my-8 bg-black-200 border-0 dark:bg-dark-700">

                                }

                            </tbody>
                        </table>
                    </div>

                </div>
            </main>
            <!-- MAIN -->
        </section>
        <!-- CONTENT -->
