<div
    class="absolute left-[10vw] w-5/6 gap-2 border p-6 bg-white rounded-lg  -translate-y-1/2 border-gray-600  flex items-center ">
    <i class="fa-solid fa-magnifying-glass  text-black"></i>
    <input type="text"
        placeholder="Discover Nearby Items"
        id="search" [(ngModel)]="searchTerm"
        (input)="onSearchTermChange()"
        class=" flex-grow py-2  px-6 mr-4 bg-transparent focus:rounded-lg focus:rounded-black placeholder-gray-400 ml-3 border-gray-400 rounded-lg">

    <!--  -->

    <div class="flex flex-col space-y-2">
        <!-- Label with bound radius value -->
        <label for="radius" class="text-gray-600">Set Search Radius
            (km): {{ selectedDistance }} km</label>

        <!-- Slider Input -->
        <input type="range" id="radius" min="0" max="22" step="1"
            [(ngModel)]="selectedDistance"
            (change)="onRangeChange()"
            class="custom-range w-full text-large h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer focus:outline-none focus:ring-black">
    </div>

    <!-- @if( showbtn){ -->
    <button
        class="bg-black ml-6 text-white px-6 py-2 rounded-md hover:bg-zinc-900 mx-3"
        (click)="emitSearchParams()">
        Search
    </button>
    <!-- } -->

</div>