<div class="flex justify-between items-center mt-4 space-x-2">
    <div>
        <button
            class="px-3 py-2  text-gray-500 rounded-lg "
            [disabled]="currentPage === 1"
            (click)="changePage(1)">
            <i class="fa-solid fa-angles-left"></i>

        </button>

        <button
            class="px-3 py-2 text-gray-500 rounded-lg "
            [disabled]="currentPage === 1"
            (click)="prevPage()">
            <i class="fa-solid fa-chevron-left"></i>

        </button>
    </div>
    <div class=" ">
        <span *ngFor="let page of pages"
            class="px-3 py-2 cursor-pointer rounded-lg mr-2"
            [ngClass]="{'bg-blue-500 text-white': currentPage === page, 'bg-gray-200': currentPage !== page}"
            (click)="changePage(page)">
            {{ page }}
        </span>
    </div>
    <div>

        <button
            class="px-3 py-2  text-gray-500 rounded-lg"
            [disabled]="currentPage === totalPages"
            (click)="nextPage()">
            <i class="fa-solid fa-chevron-right"></i>
        </button>

        <button
            class="px-3 py-2  text-gray-500 rounded-lg"
            [disabled]="currentPage === totalPages"
            (click)="changePage(totalPages)">
            <i class="fa-solid fa-angles-right"></i>
        </button>
    </div>

</div>
